.App {
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.material-icons.red {
    color: red;
}

.material-icons.blue {
    color: #0275d8;
}

.material-icons.green {
    color: #5cb85c;
}

.error {
    color: red;
}